.name {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.brush {
    background-color: mediumspringgreen;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.frame {
    background-color: lightcoral;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.paint {
    background-color: skyblue;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.price {
    font-weight: bold;
    color: blue;
}